
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript Modal Action</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    
    <div class="article" >
        <button class="modal-show" >Tampilkan Modal</button>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quo, esse dolorem corporis ipsa illo. Illo impedit, animi voluptatibus, temporibus qui quas delectus laudantium officiis quaerat molestias atque, earum cumque.</p>
    </div>

    <div class="modal-container">
        <div class="modal">
            <div class="modal-header">
                <h2>Javascript Modal Action</h2>
                <button class="modal-close" >x</button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero hic laborum distinctio quisquam debitis reiciendis! Eum quod, sed eligendi minima officia perferendis nemo autem amet architecto officiis, hic ea delectus.</p>
            </div>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>